@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import "./mediaQueries.css";
@import "./modalError.css";
@import "./btnList.css";
@import "./card.css";

:root {
  /* Colors */
  --primary-color: #5d5fef;
  --secondary-color: #515151;
  --terciary-color: #949494;
  --quaternary-color: #d9d9d9;
  --white-color: #fff;
  /* Fonts */
  --primary-font: "Nunito Sans", "Open Sans";
  --secondary-font: "Black Han Sans", "Nunito Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  list-style: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

button:focus-visible {
  outline: gray solid 6px;
  transition: 150ms ease-in-out;
}

html {
  font-family: var(--primary-font);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0.8rem 1rem 1rem 1rem;
  height: 100%;
  width: 100%;
}

/* Título */
.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.title-header > div {
  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
}

.credits-to-developer {
  color: var(--secondary-color);
  text-align: center;
}

.title {
  font-family: var(--secondary-font);
  font-size: 2.6rem;
  color: var(--primary-color);
  width: fit-content;
}

.company-icon {
  font-size: 3.5rem;
  color: var(--primary-color);
}

/* Tela de carregamento */
.screen-load {
  position: fixed;
  background-color: #161736f1;
  top: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.screen-load::after {
  content: "";
  height: 40px;
  width: 40px;
  border: 5px solid white;
  border-radius: 50%;
  border-bottom: 5px solid transparent;
  animation: animationLoader linear 0.8s infinite;
}

@keyframes animationLoader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
