@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import "./mediaQueries.css";
@import "./modals/modalError.css";

:root {
  /* Colors */
  --primary-color: #5d5fef;
  --secondary-color: #515151;
  --terciary-color: #949494;
  --quaternary-color: #d9d9d9;
  --white-color: #fff;
  /* Fonts */
  --primary-font: "Nunito Sans", "Open Sans";
  --secondary-font: "Black Han Sans", "Nunito Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  list-style: none;
}

html {
  font-family: var(--primary-font);
}

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0.8rem 1rem 1rem 1rem;
  height: fit-content;
}

/* Header */
.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2.5rem;
}

.title {
  font-family: var(--secondary-font);
  font-size: 2.6rem;
  color: var(--primary-color);
  width: fit-content;
}

.company-icon {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.company-card {
  position: relative;
  width: 100%;
  max-width: 40rem;
  border: 2px solid var(--quaternary-color);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  gap: 1.5rem;
  height: 22rem;
  box-shadow: 0 3px 7px 1px rgba(128, 128, 128, 0.295);
  background-color: rgb(248, 248, 248);
}

.company-find {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.insert-company {
  display: flex;
  justify-content: center;
  gap: 0.95rem;
  width: 100%;
}

.insert-company .label {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--quaternary-color);
  padding: 7px;
  border-radius: 5px;
  background-color: var(--white-color);
  width: 100%;
}

.label:focus-within {
  outline: 2px solid var(--primary-color);
  border-color: transparent;
}

.search-icon-input {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.field {
  border: 0;
  outline: 0;
  color: var(--secondary-color);
  font-weight: 700;
  font-family: var(--primary-font);
  width: 100%;
}

.field-clear {
  color: var(--primary-color);
  font-size: 1.3rem;
  cursor: pointer;
}

.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field {
  -moz-appearance: textfield;
  appearance: textfield;
}

.field::placeholder {
  font-family: var(--primary-font);
  font-size: 0.78rem;
  font-weight: 500;
  color: var(--terciary-color);
}

.btn-search {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 5px;
  border: 0;
  border-radius: 7px;
  font-family: var(--primary-font);
  font-weight: 900;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 2px;
  width: 100%;
}

.btn-search:disabled {
  background-color: var(--secondary-color);
}

.img-card {
  text-align: center;
  width: 100%;
  max-width: 11rem;
}

.company-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 2px var(--quaternary-color);
  border-radius: 10px;
  height: 100%;
  animation: animationCard 0.3s ease-in-out;
  background-color: var(--white-color);
  overflow: hidden;
}

.company-data.active {
  overflow-y: scroll;
  margin-right: 0;
  border-radius: 10px 0 0 10px;
}

.company-data::-webkit-scrollbar {
  width: 5px;
  background-color: var(--terciary-color);
}

.company-data::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
}

@keyframes animationCard {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.company-data > div:last-child {
  border-bottom: 0;
}

.company-data > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: 2px solid var(--quaternary-color);
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
}

.company-data > div > span {
  font-weight: 800;
  color: var(--secondary-color);
  font-size: 0.9rem;
}

.company-data > div > output {
  font-weight: 500;
  color: var(--secondary-color);
  width: 100%;
  font-size: 0.77rem;
  text-transform: uppercase;
}

.CNAES {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CNAES > li {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.secondary-activities > div {
  margin-top: 5px;
}

.CNAES > li > div > output {
  font-size: 0.87rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.CNAES > li > .line {
  border-top: solid 1px var(--quaternary-color);
  border-left: 0;
  border-right: 0;
}

.CNAES > li > span {
  font-weight: 600;
  color: var(--terciary-color);
  font-size: 0.95rem;
}

.company-number {
  text-align: center;
  color: var(--secondary-color);
  padding: 1rem;
  font-size: 1.2rem;
}

.screen-load {
  position: fixed;
  background-color: #161736f1;
  top: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
}

.screen-load::before {
  content: "";
  height: 40px;
  width: 40px;
  border: 5px solid white;
  border-radius: 50%;
  border-bottom: 5px solid transparent;
  animation: animationLoader linear 0.8s infinite;
}

@keyframes animationLoader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.top-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
  background-color: var(--white-color);
}

.menu-list {
  position: relative;
  width: 100%;
  max-width: 16rem;
  z-index: 7;
  box-shadow: 1px 1.5px 5px 0.3px rgba(54, 54, 54, 0.384);
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border: solid 1px gray;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
  border: solid 2px var(--primary-color);
  transition: 150ms ease-in-out;
  background-color: var(--white-color);
  padding: 0 9px 0 0;
  width: 100%;
  z-index: 6;
}

.btn-list > div {
  display: flex;
  align-items: center;
  gap: 10px;
  pointer-events: none;
}

.arrow-indicator {
  pointer-events: none;
  transition: 150ms ease-in-out;
}

.arrow-indicator.active {
  transform: rotate(180deg);
}

.btn-list:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-list.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.summary-icon,
.title-summary {
  pointer-events: none;
}

.summary-icon {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
}

.title-summary {
  font-size: 0.85rem;
  font-weight: 900;
  text-transform: uppercase;
}

.menu-list-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 150ms ease-in-out;
  position: absolute;
  background-color: var(--quaternary-color);
  right: -200%;
  width: 100%;
  box-shadow: 1px 1.5px 5px 0.3px rgba(54, 54, 54, 0.384);
}

.menu-list-content.active {
  right: 0;
}

.menu-list-content > li {
  border: solid 2px var(--quaternary-color);
  padding: 8px 15px;
  border-radius: 3px;
  background-color: var(--white-color);
  width: fit-content;
}

.menu-list-content::-webkit-scrollbar {
  width: 5px;
}

.menu-list-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--terciary-color);
}

.menu-list-content::-webkit-scrollbar-track-piece {
  scroll-margin-right: 30px;
}

.menu-list-content > li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.87rem;
  color: var(--secondary-color);
  font-weight: 600;
}

.copy-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
}

.copy-btn > ion-icon {
  font-size: 0.95rem;
  pointer-events: none;
}

.copy-btn > span {
  font-size: 0.7rem;
  pointer-events: none;
}
