@media screen and (max-width: 500px) {
    .company-card {
        flex-direction: column !important;
        padding: .7rem !important;
        height: 100% !important;
    }

    .company-data.active {
        overflow-y: hidden !important;
        border-radius: 10px !important;
    }

    .img-card {
        display: none !important;
    }

    .title {
        font-size: 2rem !important;
    }

    .project-header {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 1.5rem !important;
    }

    .company-icon {
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 268px) {
    .project-header {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}